@{
    ViewBag.Title = "Star Wars Fan Site";
}



<div class="row">
    <div class="col-xs-3">
        <h2>News</h2>
        
        <a href="http://www.starwarsnewsnet.com/tag/official-news" class="main-thumb">
            <img src="http://www.starwarsnewsnet.com/wp-content/uploads/2016/11/Rogue-One-07-1.jpg" class="img-thumbnail" alt="Image0000">
            <div class="news-info">
                <h1 style="color:black;">New rogue one: A Star Wars story “together” tv spot + new promo art!</h1>
                @Styles.Render("~/Content/css~")
                @Scripts.Render("~/bundles/modernizr")
            </div>
        </a>
    </div>
   
</div>